:root {
  --body--background-color: #000d2c;
  --body--font-family: "PT Mono", monospace;
  --body--font-weight: 400;
  --body--font-style: normal;
  --body--line-height: 1.5;
  --body--font-size: 1rem;
  --body--font-size-small: 0.8rem;
  --body--text-color: black;

  --content--background-color: #fafafa;
  --content--max-width: 1024px;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body--background-color);
  font-family: var(--body--font-family);
  color: var(--body--text-color);
  font-weight: var(--body--font-weight);
  font-style: var(--body--font-style);
  line-height: var(--body--line-height);
  font-size: var(--body--font-size);
  margin: 0;
  padding: 0;
}
.header {
  background-color: var(--content--background-color);
  padding: 1rem;
}
header {
  max-width: var(--content--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
}
header img {
  max-height: 50px;
  vertical-align: middle;
}

.content {
  background: var(--content--background-color);
}

.container {
  max-width: var(--content--max-width);
  margin: 0 auto;
  overflow: hidden;
}

/* Main Block Styling */
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 0rem 1rem;
}

/* Main Content Styling */
.main-content {
  max-width: 90%;
  word-wrap: break-word;
  margin-top: 2rem;
}

.main-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.main-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.start-button {
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  /* margin-bottom: 2rem; */
}

.start-button:hover {
  opacity: 0.7;
}

#cw {
  width: 100%;
  height: 15rem;
}

/* Logo Animation Block */
.logo-animation-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Enlarged Animated Text Styling */
.animated-text {
  font-size: 8rem;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

/* Blinking Animation for the Underscore */
.blink {
  animation: blink 1s infinite;
}

/* Keyframes for the Blink Effect */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--content--background-color);
}

.form-block-text {
  flex: 1;
  margin-right: 2rem;
  text-align: left;
  position: relative;
  padding: 1rem;
  overflow: hidden;
}

.form-block-text .floating-icons-top,
.form-block-text .floating-icons-bottom {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Disable interaction with icons */
  z-index: 0; /* Keep icons behind the text */
}

.floating-icons-top {
  margin-bottom: 2rem; /* Add spacing below top icons */
}

.floating-icons-bottom {
  margin-top: 2rem; /* Add spacing above bottom icons */
}

.form-block-text h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: left;
  position: relative;
  z-index: 1;
}

.form-block-text h2 {
  font-size: 1.5rem;
  color: #555;
  margin: 0;
  text-align: left;
  position: relative;
  z-index: 1;
}

.floating-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.floating-icon:hover {
  transform: scale(1.2);
  opacity: 1;
}

.form-block-form {
  flex: 1;
  background-color: var(--content--background-color);
  padding: 2rem;
  border-radius: 10px;
}

.form-block-text p {
  font-size: 1.5rem;
  color: #333;
  text-align: left;
}

/* .selected-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6rem;
} */

.form-block-form h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.form-description {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: left;
}

.form-block-form label {
  display: block;
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.form-block-form input {
  width: calc(100% - 1rem - 2px);
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-block-form input::placeholder {
  color: #aaa;
}

.form-block-form button {
  display: block;
  width: 100%;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-block-form button:hover {
  opacity: 0.7;
}

.form-message {
  font-size: 0.9rem;
  margin-top: 1rem;
  visibility: hidden; /* Initially hidden */
  opacity: 0; /* Invisible by default */
  height: 0; /* Prevent layout jump */
  transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
}

.success-message {
  color: #28a745; /* Green text for success */
}

.error-message {
  color: #dc3545; /* Red text for error */
}

/* When visible */
.form-message.visible {
  visibility: visible;
  opacity: 1;
  height: auto; /* Expand to fit content */
}

/* Technology Block Styling */
.technology-block {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

/* Grid Layout for Icons and Text Block */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-items: start;
}

/* Text Block Styling */
.text-block {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
}

/* Dynamic Text Styling */
#dynamic-text {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

/* Wrapper for the Dynamic Word and Comma */
#tech-name-wrapper {
  white-space: nowrap;
  transition: color 0.3s ease;
}

/* Icon Styling */
.icon {
  width: 60px;
  height: 60px;
  filter: grayscale(100%); /* Apply grayscale by default */
  transition: filter 0.3s ease;
}

/* Hover Effect to Remove Grayscale */
.tech-item:hover .icon {
  filter: grayscale(0%); /* Remove grayscale on hover */
}

.footer {
  padding: 1rem;
}

footer {
  max-width: var(--content--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: var(--body--font-size-small);
}

/* 404 Error Page Styling */
.error-404 {
  text-align: center;
  padding: 0rem 1.5rem 3rem 1.5rem;
  background-color: var(--content--background-color);
  max-width: var(--content--max-width);
  margin: 0 auto;
}

.error-404 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Image Styling */
.error-404 .error-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

/* Back Home Button Styling (Black Button) */
.back-home-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.back-home-button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  header {
    flex-direction: column;
    padding: 0.5rem;
  }

  header img {
    max-height: 40px;
    margin-bottom: 0.5rem;
  }

  .header {
    padding: 0.5rem;
  }

  .main-block {
    margin-bottom: 0rem;
  }

  .main-content h1,
  .error-404 h1 {
    font-size: 1.8rem;
  }

  .main-content p {
    font-size: 1rem;
  }

  .start-button,
  .back-home-button {
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
  }

  .animated-text {
    font-size: 4rem;
  }

  .form-block {
    flex-direction: column;
    padding: 1.5rem;
    text-align: center;
  }

  .form-block-text {
    margin-right: 0;
    margin-bottom: 0;
  }

  .form-block-text h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .form-block-text p {
    font-size: 1rem;
    text-align: center;
  }

  .form-block-form {
    padding: 1.5rem;
    width: 100%;
  }

  .form-block-form h2 {
    font-size: 1.2rem;
  }

  .form-block-form label {
    text-align: left;
  }

  .form-block-form input {
    font-size: 0.9rem;
  }

  .form-block-form button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .technology-block {
    padding: 1rem;
    margin-top: 0rem;
    margin-bottom: 4rem;
  }

  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .tech-item {
    display: block;
    margin: 0 auto;
    text-align: left;
  }

  #dynamic-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .icon {
    display: block;
    margin: 0 auto;
  }

  footer {
    flex-direction: column;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
  }
}
