@import "tailwindcss";

@theme {
  --color-bg: #0b0e11;
  --color-bg-card: #161b22;
  --color-text: #f0f0f0;
  --color-text-muted: #8b949e;
  --color-accent: #c23631;
  --color-accent-hover: #e04b45;
  --color-border: #21262d;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
