<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{{ data.title }}</title>
    <meta name="description" content="{{ data.description }}">

    <!-- Preconnect for Faster Resource Loading -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="preload" href="/static/css/style2.css" as="style">
    <link rel="stylesheet" href="/static/css/style2.css">

    <!-- JavaScript -->
    <link rel="preload" href="/static/js/script.js" as="script">

    <!-- Preload Critical Images -->
    <link rel="preload" href="/static/images/logo.webp" as="image">
    {% if data.page == "index" %}
        <!-- Preload for Index Page -->
    {% elif data.page == "404" %}
        <!-- Preload for 404 Page -->
        <link rel="preload" href="/static/images/capibara.webp" as="image">
    {% endif %}

    <!-- Open Graph Meta Tags for Social Sharing -->
    <meta property="og:title" content="{{ data.title }}">
    <meta property="og:description" content="{{ data.description }}">
    <meta property="og:image" content="{{data.image }}">
    <meta property="og:url" content="{{ data.url }}">
    <meta property="og:type" content="website">

    <!-- Canonical URL to Avoid Duplicate Content Issues -->
    <link rel="canonical" href="{{ data.canonical }}">

    <!-- SEO-Friendly Robots Meta Tag -->
    <meta name="robots" content="{{ data.robots }}">

    <!-- Include Analytics Only in Production -->
    {% if data.PRODUCTION == "prod" %}
        {% include "google_analytics.html" %}
        {% include "yandex_metrika.html" %}
    {% endif %}
</head>
<body>
    <div class="header">
        {% include "header.html" %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        {% include "footer.html" %}
    </div>
    
    <!-- JavaScript -->
    <script src="/static/js/script.js"></script>
</body>
</html>
