<footer>
    <div class="footer-container">
        <h4>Contact Us</h4>
        <p>Email: <a href="mailto:ahmlvs@aaadevs.com">ahmlvs@aaadevs.com</a></p>
        <p>Phone: <a href="tel:+17373788009">+1 (737) 378-8009</a></p>
    </div>

    <div class="footer-container">
        <p>&copy; 2025 AAA Devs LLC, TX, US. All rights reserved. Based on <span style="text-decoration: underline;"><a href="https://github.com/ahmlvs/aaadevs_com">aaadevs_com</a></span> open-source project.</p>
    </div>

</footer>
